@model AquascapeThemeKillerApp.Models.SelectPlantEditorViewModel

@{
    ViewData["Title"] = "SelectPlantEditorViewModel";
}

    <tr>
        <td style="text-align: center">
            @Html.CheckBoxFor(model => model.Selected)
        </td>
        <td>
            @Html.DisplayFor(model => model.PlantName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Difficulty)
        </td>
        <td>
            @Html.HiddenFor(model => model.PlantId)
        </td>
    </tr>